/* Hero header */
.hero {
  height: 30vh; /* ocupa 80% da altura da tela */
  background: #333; /* fundo cinza */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
  animation: fadeInDown 1.5s ease;
}